<h1 style="margin-bottom: 0;">My Projects</h1>
<br>
<div class="search-create-div">
    <mat-form-field class="search-form" *ngIf="projects.length > 0">
        <mat-label>Search Projects</mat-label>
        <input matInput type="text" [(ngModel)]="searchValue" class="search-bar">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''" *ngIf="searchValue">
                <mat-icon>close</mat-icon>
            </button>
    </mat-form-field>
    <button mat-raised-button class="create-project-button">Create Project <mat-icon>library_add</mat-icon></button>
</div>
<div class="project-list" *ngIf="projects.length > 0">
    <app-project-bar 
    *ngFor="let proj of projects" 
    [project]="proj" 
    routerLink="/dashboard/{{proj.id}}"
    ></app-project-bar>
</div>
<div class="project-nolist" *ngIf="projects.length == 0">
    <img src="assets/images/magnifying-glass-clipart.png" class="no-project-img">
    <h2 style="margin-top: 5px;"> No Projects Found! </h2>
</div>