.project-list {
    // border: 2px solid red;
    max-height: 100%;
}

.no-project-img {
    height: 250px;
    width: auto;
}

.project-nolist {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;

}

.search-form {
    width: 200px;
}

.search-create-div {
    float: right;
    height: 60px;
}

.create-project-button {
    float: right;
    margin: 10px;
}