<p>Commit-history-chart component works</p>

<!-- Expected data format:
[{
  data: number[],         // Array of commit counts for this user
  label: string,          // Username/email
  borderColor: string,    // Unique line color for this user
  fill: boolean          // Whether to fill area under line
},
{
  data: number[],         // Commit counts for another user
  label: string,          // Another username/email  
  borderColor: string,    // Different line color
  fill: boolean
},
...] 

Labels array should contain the dates/time periods that apply to all datasets
-->
<!-- <div style="width: 100%;">
  <canvas baseChart
    [data]="data"
    [labels]="chartLabels",
    [options]="chartOptions" 
    [type]="chartType">
  </canvas>
</div> -->

