<!-- <p>project-bar works! {{project.name}}</p> -->
<mat-card appearance="outlined" class="card">
    <mat-card-header *ngIf="project.description!=''" class="card-left">
        <mat-card-title>
            {{project.title}}
            <mat-chip>{{project.access}}</mat-chip>
        </mat-card-title>
        <mat-card-subtitle>{{project.description}}</mat-card-subtitle>
        <!-- <mat-card-content align="center"><mat-icon fontIcon="people"></mat-icon>{{project.users}}</mat-card-content> -->
    </mat-card-header>
    <mat-card-header *ngIf="project.description==''" class="card-center nodesc">
        <mat-card-title>
            {{project.title}}
            <mat-chip>{{project.access}}</mat-chip>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-center">
        <span>
            <mat-icon fontIcon="people"></mat-icon>
            {{project.users}}
        </span>
        <span>

        </span>
    </mat-card-content>
    <mat-card-content class="card-right">
        <span *ngIf="project.lastScanned != null">Updated on {{project.lastScanned.toDateString()}}</span>
        <span *ngIf="project.lastScanned == null">Not yet Scanned</span>
    </mat-card-content>
    
</mat-card>
