<main>
    <div class="showcase-area">
        <div class="container">
            <div class="left">
                <div class="big-title">
                    <h1>Git Analytics,</h1>
                    <h1>At your Fingertips</h1>
                </div>
                <p class="text">
                    A comprehensive overview of your project
                </p>
                <div class="cta">
                    <a href="#" class="btn">Get Started</a>
                </div>
            </div>
            <div class="right">
                <img src="assets/images/git-think.jpg" alt="graph" class="person">
                
            </div>
        </div>
        
    </div>
</main>