<mat-toolbar class="header-div">
    <span class="title">
        CommitmentIssues
    </span>
    <span class="spacer"></span>
    <a mat-button (click)="loginButton()" *ngIf="!isLoggedIn">{{login_value}}</a>
    <button mat-button
        *ngIf="isLoggedIn"
        [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        <span>{{current_user?.name}}</span>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
        <button mat-menu-item (click)="menuClick('account')">Account</button>
        <button mat-menu-item (click)="menuClick('logout')">Log Out</button>
    </mat-menu>
</mat-toolbar>