* {
    margin: 0;
    padding: 0;
}

.header-div {
    width: 99%;
    color: var(--color5);
    background-color: var(--color1);
    padding: 7px;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 3px;
}

.spacer {
    flex: 1 1 auto;
}

.title {
    color: inherit;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

mat-menu {
    padding: 0;
}

