* {
    margin: 0;
    padding: 0;
}

.header-div {
    width: 99%;
    color: var(--color5);
    background-color: var(--color1);
    padding: 7px;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 3px;
}

.spacer {
    flex: 1 1 auto;
}

.title {
    color: inherit;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

mat-menu {
    padding: 0;
}

#proj-form {
    width: 35vh;
    outline: none;
    margin: 4px;
}

form.form-group > label {
    display: block;
}

form.proj-form > input[type="text"] {
    height: 20px;
    width: 95%;
}

input#desc {
    height: 50px;
}

